.spinner{
    text-align: center;
    font-size: 50px;
}
.btnBt{
    height: 25px;
    width: 25px;
}
.btnBt:hover{
    transition: 0.5s;
    transform: scale(1.5, 1.5);
}
.contenedor{
    height: 100vh;
}